 <nav>
      <%# <a href="http://localhost:3000/cocktails">Home</a> better to include link_to helper methods rather than hard code the link %>
      <%= link_to "Home", cocktails_path %>
      <%# <a href="http://localhost:3000/cocktails/new">Create a Cocktail</a> %>
      <%= link_to "Create a Cocktail", new_cocktail_path %>
    </nav>